h1{
    color: rgb(221, 7, 7);
                
}
*{
    border: solid
    
}

.menu{
    
    display : flex;
   justify-content:left;
}

.grid{
 display: flex;
 justify-content:space-evenly;
 align-items: baseline;
 flex-wrap :wrap-reverse; 
 align-content: space-between;
 

}

.footer{
  display: flex;
  justify-content:flex-end
}

